.maindiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* width: 50%; */
    align-self: center;
    /* border: 2px solid black; */
    /* margin-bottom: 40px; */
    margin-top: 50px;

}
.maindiv span{
    font-size: 50px;
}
.maindiv span p{
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;

}

.buttons{
    display: flex;
    /* justify-content: space-around; */
    /* border: 2px solid black; */
    padding: 20px;
    
}
.buttons span{
    /* border: 2px solid black; */
    font-size: 60px;
    
}
.buttons button{
 margin: 20px;
    
}